*{box-sizing: border-box;}
body{
    background-image:url("assets/ml_background.jpg");
}
#headml
{background-color: rgb(233 246 251);
    margin: auto;

width: 1200px;
border-radius: 10px;
font-size: 50px;
text-align: center;
padding: 2px;
}
#p1{background-color: rgb(245 238 251);
font-size: 17px;}
.subhead
{border:20px;
border-radius: 60px ;
    background-color: rgb(232 245 245);
    width: 350px;
    margin:auto;
    text-align: center;
    padding:2px;
}
#p2 li {
    float: left;
    list-style: none;
}
#box1
{background-color: rgb(205 215 245);
    border:20px;
    border-radius:20px;
width:250px;
text-align: center;
margin:20px;
padding:4px;}
#box2
{background-color: rgb(205 215 245);
width:250px;
border-radius:20px;
text-align: center;
margin:20px;
padding:4px;}
#box3
{background-color: rgb(205 215 245);
width:250px;
border-radius:20px;
text-align: center;
margin:20px;
padding:4px;}
#box4
{background-color: rgb(205 215 245);
width:250px;
border-radius:20px;
text-align: center;
margin:20px;
padding:4px;}
.links a{
    text-decoration: none;
}
.links a:hover{color:rgb(75, 62, 250);}
.links{font-size: 20px;
    background-color: rgb(243 249 233);
width:1000px;
margin:auto
}
.subhead1
{border:20px;
border-radius: 60px ;
    background-color: rgb(232 245 245);
    width: 350px;
    margin:auto;
    text-align: center;
    padding:2px;
}
